.flash {
	text-align: center;
	font-size: 1.4em; }
.notice {
	color: orange;
	background-color: darkgreen;
}
.alert {
	color: yellow;
	background-color: darkred;
}
.big-btn {
	width: 250px;
}
.icon-red { color: red; font-size: 1.5em; }
.icon-white {color: white; font-size: 1.5em; }
