<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name"><%= link_to 'Home', root_path %></li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>
  <div class="top-bar-section">
    <ul>
      <li></li>
    </ul>

    <ul>
    	<div class="right">
    		<li class="active"><%= link_to "Account neu", signup_path %></li>
    	</div>
    </ul>
  </div>
</nav>